.App {
    background: #F5F5F5;
    height: 100vh;
}

.app__title {
    display: flex;
    justify-content: center;
    color: #E9D9D8;
    font-size: 64px;
    user-select: none;
}

.app__content {
    display: flex;
    justify-content: center;
}